<ion-header>
    <ion-navbar color= "bar">
        <ion-title>
           <h1> Tus reviews</h1>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addReview()"><ion-icon name="add"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list >

        <ion-item-sliding *ngFor="let review of reviews">
		
            <ion-item *ngIf="review.user == this.user" (click)="showReview(review)" style="padding-left: 0px;padding-right: 16px;">
		<h2>{{review.title}}</h2>
                <p>{{review.description}}</p>

                <ion-icon *ngIf="review.rating < 50" color='danger' name="sad"></ion-icon>
                <ion-icon *ngIf="review.rating >= 50" color= 'verde' name="happy"></ion-icon>
                {{review.rating}}
		<ion-icon item-end name="ios-arrow-back"></ion-icon>

            </ion-item>
	    

            <ion-item-options style="padding-right: 10px;">
        	<button ion-button color="secondary" (click)="updateReview(review)">
	          <ion-icon name="create"></ion-icon>
          	  Modify
        	</button>
            	
		<button ion-button color="danger" (click)="deleteReview(review)">
                  <ion-icon name="trash"></ion-icon>
                  Delete
                </button>

	    </ion-item-options>
        </ion-item-sliding>

    </ion-list>

</ion-content>
